## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
a=7**4
print(a)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
  string="Hi there sam!"
  list1 = list(string.split(" "))
  list1

['Hi', 'there', 'sam!']

In [ ]:
list1[2]='dad'
list1

['Hi', 'there', 'dad']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter=12742

In [ ]:
print("the diameter of {} is {} kilometer".format(planet,diameter))

the diameter of Earth is 12742 kilometer

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
list=['a',1,2,3,4,'b']
tuple=('a',1,2,3,4,'b')
#lists are mutable where tuples are immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  print("Your domain is: "+email.split('@')[-1])
  email=input("Please enter your email")
  domainGet(email)

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def finddog(st):
  if 'dog' in st.lower():
    print("True")
  else:
    print("False")  
st="is there a dog here?"
finddog(st)

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
finddog("is there a dog here?")

True

In [ ]:
def countdogs(value):
  cnt=0;
  for word in value.lower().split():
    if word == 'dog' or word == 'dogs':
      cnt+=1
  print(cnt)
value='this dog run faster than the other dogs'      
countdogs(value)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
 caught_speeding(90,True)

'Big Ticket'

In [ ]:
caught_speeding(61,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee = [10000,20000,30000,40000,50000]
sum=0
for i in employee:
  sum+=i
  print(i)
print(sum)

10000
20000
30000
40000
50000
150000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict_1={"Empid":"18","Empname":"Aswin","Basicpay":"40000"}
dict_2={"DeptName":"ECE","DeptId":"6018"}
dict_3={**dict_1, **dict_2}
print(dict_3)

{'Empid': '18', 'Empname': 'Aswin', 'Basicpay': '40000', 'DeptName': 'ECE', 'DeptId': '6018'}